body {
  background-color: bisque;
}


h1 {
  text-align: center;
  margin-top: 40px;
  /* margin-bottom: 25px;*/
}

.main {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 300px;
}

.link {
  margin-top: 100px;
}


.codearea {
  background-color: rgb(53, 49, 49);
  display: block;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 60%;
}

.codetext {
  color: aliceblue;
}

.Clickbackarea{
  margin-bottom: 120px;
}



.Clickback {
  text-decoration: none;
  color: black;
  margin-left: 20px;


}

footer {
  text-align: center;
  
 
}